{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
    {% for listing in userlist %}
        <a href="/myprofile/{{listing.key}}">{{ listing.name }}</a>

        {% for des in description %}
            {{ des.video_url}} <br/>
            {{ des.message }} <br/>
            {{ des.funding_goal }}
        {% endfor %}
    {% endfor %}

  </div>
</div>
{% endblock %}