{% extends 'frontend/index.html' %}

{% block content %}
<div id="campaign-page">
    <div class="auto-960">
        <div class="w620" id="campaign-content">

            <div class="pull-left">
                <div id="student-name">Hi, I'm <span>Kristine Bless</span></div><br/>
                <div class="sub-details" id="sub1"><img src="/img/books.png" alt=""/>Southwestern university</div>
            </div>
            <div class="pull-right">
                <div class="sub-details"><img src="/img/steth.png" alt=""/>2nd yr medical student</div>
                <div class="sub-details"><img src="/img/marker.png" alt=""/>Cebu city, philippines</div>
            </div>
            <div class="video">
                <iframe width="564" height="272" src="http://www.youtube.com/embed/ecZM_2FDs4M" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="badges">
                <img src="/img/badges.png" alt="">
            </div>
            <div class="content-section">
                <div id="my-story" class="pull-left">
                    <span>My story</span>
                </div>
                <div id="more-info" class="pull-right">
                    <span>Comments<b>0</b></span>
                    <span>Updates<b>0</b></span>
                </div>
            </div>
            <div id="my-story-section">
                <p>My name is Kristine, a 22 year-old 2nd year medical student. My grades are consistently high. I was previously sponsored by my relatives but something came up and they could not fund me anymore.<br/><br/>

I have the dream, i have the heart but i don’t have the funds.
</p>
            </div>
        </div>


        <div class="w320" id="campaign-sidebar">
            <div id="target">
                <span id="top-text">help me raise</span><br/>
                <span id="target-goal">PHP25,000</span><br/>
                <span id="below-text">in <b>90 days</b></span><br/><br/><br/>
                <span class="target-text">i raised <b>P5,000</b> already, that’s <b>20%</b> of my goal</span>
            </div>
            <div id="goal-meter">
                <div id="progress-bar-container">
                        <div class="meter">
                            <span style="width: 20%"></span>
                        </div>
                    </div>
            </div>
            <div id="fund-button">
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=BLDMVQR5L3GYN&lc=PH&item_name=Medifund&currency_code=PHP&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">fund my campaign</a>
            </div>
            <div id="my-supporters">
                <img src="/img/my-supporters.png" alt="">
            </div>
            <div id="rewards">
                <img src="/img/rewards.png" alt=""/><br/><br/>
                <p>
                    <span>Pledge PHP 1,000 or more</span><br/><br/>
                    OUR BIG THANKS. You get to have a free consultation when i become a full-pledged doctor. Or you can contact me and we can talk about how else i can give back to you.<br/><br/>
                    Also have a one-time free consultation with our partner doctors worldwide.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
{% endblock %}