{% extends 'frontend/index.html' %}
{% block jsbottom %}
    <script type="text/javascript">
      $(function() {
        $('#datetimepicker2').datetimepicker({
          language: 'en',
          pick12HourFormat: true
        });
      });
    </script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="span10" style="margin-left: 105px;">

    <form class="form-horizontal" method="POST" action="/campaign/create">
        <fieldset>
            <legend>Create a Funding Campaign</legend>
            <div class="control-group">
                <label class="control-label" for="input01">Funding Goal</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">$</span>
                        <input id="prependedInput" class="span2" type="text" size="16" required name="fund">
                        <input type="hidden" value="{{user.email}}" name="userid">
                    </div>
                    <p class="help-block">
                        Your funding goal should be the minimum amount needed to complete the project and fulfill all rewards. Because funding is all-or-nothing, you can always raise more than your goal but never less.
                    </p><br>
                    <p class="help-block">
                        If your project is successfully funded, Kickstarter will apply a 5% fee to the funds raised, and Amazon will apply credit card processing fees (between 3-5%). If funding isn't successful, there are no fees.
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Funding Duration</label>
                <div class="controls">
                    <div>
                        <label class="radio">
                            <input id="optionsRadios2" type="radio" value="option2" name="optionsRadios" checked>
                            Number of days
                        </label>
                        <div>
                            <input type="text" name="days">
                        </div>
                    </div>
                    <div>
                        <label class="radio">
                            <input id="optionsRadios2" type="radio" value="option2" name="optionsRadios">
                            End on date and time
                        </label>
                        <div>
                            <div id="datetimepicker2" class="input-append">
                            <input data-format="yyyy-MM-dd HH:mm:ss PP" type="text" readonly name="setdate"></input>
                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Funding Rewards</label>
                <div class="controls">
                    <textarea class="span4" type="textarea" rows="4" required name="rewards"></textarea>
                    <p class="help-block">
                        Note: All sponsors who funded an amount to anyone in MediFund will be given the privilege of free consultation to any MediFunded medical graduates.
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Conviencing Thoughts</label>
                <div class="controls">
                    <textarea class="span4" type="textarea" rows="4" required name="thoughts"></textarea>

                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Video</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">http://</span>
                        <input type="text" name="urllink" value="" required size="16">
                    </div>

                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </fieldset>
    </form>

  </div>
</div>
{% endblock %}