{% extends 'frontend/index.html' %}

{% block content %}
<div id="welcome-area">

    <div class="auto-960">
        <img src="/img/main-tagline.png" alt="">
        <div id="main-btn-wrap">
            <a href="http://bisrevo.us5.list-manage1.com/subscribe?u=6f09f55ba99b91a012ec65163&id=67ca542197" target="_blank">Be notified when we launch<br/>
                <span>click here to leave your email</span></a>

            <!-- <a href="#">Are you a medical student?<br/>
                <span>start a fundraising campaign</span></a> -->
        </div>

    </div>
</div>

<div id="black-block">
         <div class="auto-960">
            <div id="what-is-medi">
                <span>What is Medifund?</span>
                <p>Medifund is a crowdfunding platform which supports Medical Students who are struggling to pay their school expenses. We hope to solve this by bridging the gap between medical students and potential financial supporters and lenders.</p>
            </div>
            <img src="/img/goal-screen.jpg" alt=""/>
        </div>
</div>

<div class="clear"></div>

<div id="how-it-works">
<div class="auto-960">
    <img src="/img/how-it-works.png" alt=""/>
    <div class="blurb first">
        <img src="/img/blurb-1.png" alt="">
        <span>start a campaign</span>
        <p>Are you a medical student? and having a difficulty in paying your tuition fees? Start a campaign and get a chance to be sponsored.</p>
    </div>
    <div class="blurb second">
        <img src="/img/blurb-2.png" alt="">
        <span>PROMOTE YOURSELF</span>
        <p>Sell yourself and convince potential sponsors to fund you and share your campaign across social media.</p>
    </div>
    <div class="blurb third">
        <img src="/img/blurb-3.png" alt="">
        <span>get funded</span>
        <p>Receive funds from sponsors all over the world and have the opportunity to fulfill your dream of being a doctor.</p>
    </div>
</div>
</div>

<div class="clear"></div>

<div id="final-call">
    <div class="auto-960">
        <div id="call-to-action">
            <span>Start funding now</span>

            <a href="/campaign/kristine">Fund Kristine Bless</a>
        </div>
        <div id="ui-sample">
            <img src="/img/ui.jpg" alt="UI Sample">
        </div>
    </div>
</div>

<div class="clear"></div>
{% endblock %}