<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ settings.site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/img/favicon.ico">

	{% block csstop %}
    {% endblock %}

	{% block jstop %}
    {% endblock %}

  </head>

  <body {% if current_page == "LOGIN" or current_page == "REGISTER" %} style="background:#9bd1f6; padding:0; margin:0;" {% endif %}>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="topnavigation" {% if current_page == "LOGIN" or current_page == "REGISTER" %} style="display:none;" {% endif %}>
          <div class="topnavigation_inner">
            <ul class="topnavigation_menulist">
              <li><a href="/">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>

            {% if user %}
            <ul class="userLoginMenu">
              <li><a href="/profile/{{user.key}}">Profile</a></li>
              <li><a href="/campaign/create">Create a Campaign</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
            {% else %}
            <ul class="userLoginMenu">
              <li{% if current_page == 'LOGIN' %} class="active"{% endif %}><a href="/login">Login</a></li>
              <li{% if current_page == 'REGISTER' %} class="active"{% endif %}><a href="/register">Register</a></li>
            </ul>
            {% endif %}
            <div class="clear"></div>
          </div>
        </div>
        <!-- <div class="navbar navbar-inverse navbar-fixed-top" {% if current_page == "LOGIN" or current_page == "REGISTER" %} style="display: none;" {% endif %}>
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">{{ settings.site_name }}</a>
          {% if user %}
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li{% if current_page == 'FRONT' %} class="active"{% endif %}><a href="/">Home</a></li>
              {% if user.role == 'SPONSOR' %}
              <li><a href="#">My Funded Students</a></li>
              <li><a href="#">Browse Students</a></li>
              {% elif user.role == 'STUDENT' %}
              <li><a href="/campaign/create">Create a Campaign</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>

            <ul class="nav pull-right">
                <li><a href="/profile/{{ user.key }}">Logged in as <strong>{{ user.name }}</strong></a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            {% else %}
            <ul class="nav pull-right">
              <li{% if current_page == 'LOGIN' %} class="active"{% endif %}><a href="/login">Login</a></li>
              <li{% if current_page == 'REGISTER' %} class="active"{% endif %}><a href="/register">Register</a></li>
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div> -->
<header id="header" {% if current_page == "LOGIN" or current_page == "REGISTER" %} style="display:none;" {% endif %}>
  <div class="header_inner" >
    <a href="/" class="logo"><img src="../img/logo_medifund.png" alt="medifund" /></a>
    <div class="search">
      <!-- <form>
        <label>Search Location</label>
        <select>
          <option value="a">Select Location</option>
          <option value="b">Location 1</option>
          <option value="c">Location 1</option>
          <option value="d">Location 1</option>
          <option value="e">Location 1</option>
        </select>
        <div class="clear"></div>
      </form> -->
    </div>
    <div class="clear"></div>
  </div>
</header>
    	{% if error %}
    	<div class="alert alert-error">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Error!</strong> {{ error }}
		</div>
    	{% endif %}

      	{% block content %}{% endblock %}

    <div id="footer-bg">
        <div class="auto-960">
      <footer>
        <div class="float-left">
            <img src="/img/footer-logo.png" alt=""/>
            <p>&copy; {{ settings.site_name }} {{ settings.current_year }}. All Rights Reserved.</p>
        </div>

        <div class="float-right">
            <img src="/img/footer-swc.png" alt="Startweekend Cebu">
        </div>
      </footer>
    </div>
    </div>


    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootstrap-affix.js"></script>

    <script src="js/holder/holder.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>

    <script src="js/application.js"></script>
    <script type="text/javascript">
      var fixedbar = $('#header').offset().top;
      $(window).scroll(function() {
        if ( $("#header").offset().top - $(window).scrollTop() < 0 ) $("#header").addClass("fixed");
        if ( $(window).scrollTop() < fixedbar ) $("#header").removeClass("fixed");
      });
    </script>
    <!--<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>-->
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>

    {% block jsbottom %}
    <!-- For Google Analytics -->
        <script>
            var _gaq=[['_setAccount','{{ settings.google_analytics_code }}'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    <!-- Google Analytics Code End -->
    {% endblock %}
  </body>
</html>
