{% extends 'frontend/index.html' %}

{% block content %}
<div class="container" id="loginPage">
  <a href="/" id="logo"><img src="../img/logo_medifund.png" alt="" /></a>
  <div class="loginWrapper">
    <div class="heading">
      <div class="loginfacebook">
        <a href="{{ fb_login_url }}" class="facebookLogin">Facebook Login</a>
      </div>
      <div class="clear"></div>
    </div>
    <div class="loginFormWrapper">
      <div class="loginFormWrapper_inner">
        <form action="/login" method="POST">
          <input id="input-email" type="email" name="email" placeholder="Email address"{% if email %} value="{{ email }}"{% endif %}>
          <input id="input-password" type="password" name="password" placeholder="Password">
          <a href="/forgot-pass" class="forgotPassword">Forgot Password?</a>
          <button class="btn" type="submit">Sign In</button>
          <div class="clear"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="loginFooter">
    <p id="copyright">Copyright &copy; 2013 medifund. All Rights Reserved.</p>
  </div>
</div>


<!-- <div class="row">
  <div class="span12">
    <form class="form-center" action="/login" method="POST">
      <h2 class="form-center-heading">Login</h2>
      <input id="input-email" type="email" name="email" class="input-block-level" placeholder="Email Address"{% if email %} value="{{ email }}"{% endif %}>
      <input id="input-password" type="password" name="password" class="input-block-level" placeholder="Password">
      <div class="pull-left">No account? <a href="/register">Register</a>.</div><button class="btn btn-large btn-primary pull-right" type="submit">Login</button>
      <div class="clear"></div>

      <div class="pull-left"><a href="/forgot-pass">Forgot Password?</a>.</div>
      <div class="clear"></div>

      <div class="fblogin-section">
      	<div class="or-separator">or</div>
      	<div><a href="{{ fb_login_url }}" title="Login with Facebook"><img src="/img/facebook-button.png" alt="Login with Facebook" /></a></div>
      </div>
      <div class="clear"></div>
    </form>
  </div>
</div> -->
{% endblock %}

{% block jsbottom %}
<script type="text/javascript">
	$(document).ready(function(){
		{% if email %}
		$("#input-password").focus();
		{% else %}
		$("#input-email").focus();
		{% endif %}
	});
</script>
{% endblock %}