{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
    <div class="span2 offset5">
        {% if owner %}
        <form class="form-horizontal" method="POST">
            {% if profile_owner.fb_id %}
            <img src="https://graph.facebook.com/{{ profile_owner.fb_id }}/picture?width=150&height=150">
            {% else %}
                {% if profile_owner.photo %}
                    <img src="{{profile_owner.photo}}" style="width:150px; height:150px;">
                {% else %}
                    <img src="/img/default_profile.jpg" style="width:150px; height:150px;">
                {% endif %}
                <form action="/profile/upload/profile_photo" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="redirect" value="{{current_base_url}}">
                    <input type="file" name="files" accept="image/*">
                    <input type="submit" value="Upload">
                </form>
            {% endif %}
            Name : {{ profile_owner.name }}<br>
            Address: {% if profile_owner.address %}{{ profile_owner.address }}{% else %}<input type="text" name="address" class="input-large">{% endif %}<br>
            About Me: {% if profile_owner.about_me %}{{ profile_owner.about_me }}{% else %}<textarea name="about_me"></textarea>{% endif %}<br>
            {% if not profile_owner.address or not profile_owner.about_me %}
            <button type="submit" class="btn btn-primary">Save Changes</button>
            {% endif %}
        </form>
        {% else %}
            {% if profile_owner.fb_id %}
            <img src="https://graph.facebook.com/{{ profile_owner.fb_id }}/picture?width=150&height=150">
            {% else %}
            <img src="/img/default_profile.jpg" style="width:150px; height:150px;">
            {% endif %}
            Name : {{ profile_owner.name }}<br>
            Address: {% if profile_owner.address %}{{ profile_owner.address }}{% endif %}<br>
            About Me: {% if profile_owner.about_me %}{{ profile_owner.about_me }}{% endif %}<br>
            {% if user %}
            Enter Desired Amount: <input type="text" class="input-medium" name="amount">
            <button class="btn btn-success">Continue</button>
            {% else %}
            <a href="/register?redirect={{ redirect }}&type=sponsor" class="btn btn-success">Fund</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block jsbottom %}
<script type="text/javascript">
    $(document).ready(function(){
        {% if email %}
        $("#input-password").focus();
        {% else %}
        $("#input-email").focus();
        {% endif %}
    });
</script>
{% endblock %}
