{% extends 'frontend/index.html' %}

{% block content %}
<div class="container" id="registerPage">
  <a href="/" id="logo"><img src="../img/logo_medifund.png" alt="" /></a>
  <div class="registerWrapper">
  	<div class="registerPaper">
  		<div class="pin"><img src="../img/pin.png" alt="" /></div>
  		<div class="registerPaper_inner">
			<form action="/register" method="POST">
                {% if redirect %}<input type="hidden" name="redirect" value="{{ redirect }}" />{% endif %}
                {% if role %}<input type="hidden" name="role" value="{{ role }}" />{% endif %}
				<a href="{{ fb_login_url }}" class="facebookRegister">Register with Facebook</a>
				<h2>Register</h2>
				<div class="clear"></div>
				<input id="input-name" type="text" name="first_name" class="input-block-level" placeholder="First Name">
				<input id="input-name" type="text" name="last_name" class="input-block-level" placeholder="Last Name">
				<input type="email" name="email" class="input-block-level" placeholder="Email address">
				<input type="password" name="password" class="input-block-level" placeholder="Password">
				<input type="password" name="confirm_password" class="input-block-level" placeholder="Confirm Password">
				<p class="alreadyRegister">Already registered? <a href="/login">Login</a>.</p>
				<button class="btn" type="submit">Register</button>
				<div class="clear"></div>
			</form>
  		</div>
  	</div>
  </div>
  <div class="registerFooter">
    <p id="copyright">Copyright &copy; 2013 medifund. All Rights Reserved.</p>
  </div>
</div>
{% endblock %}

{% block jsbottom %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#input-name").focus();
	});
</script>
{% endblock %}