{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li><a href="#">...</a></li>
      <li><a href="#">...</a></li>
    </ul>
    <form action="" method="POST" enctype='multipart/form-data'>
        <input type="file" name="filename">
        <input type="hidden" value="user.key.id">
        <input type="submit" name="save" value="save">
    </form>

    {% for student in user %}
        {{ student.name }}
        {{ student.fund_goal }}
        {{ student.video_url }}
    {% endfor %}

  </div>
</div>
{% endblock %}