body {
    font-family: "segoe ui", arial, sans-serif!important;
    background: #fff!important;
}

@font-face {
    font-family: "fs_joeymedium";
    src: url("fonts/fs_joey-medium-webfont.eot");
    src: url("fonts/fs_joey-medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/fs_joey-medium-webfont.woff") format("woff"),
         url("fonts/fs_joey-medium-webfont.ttf") format("truetype"),
         url("fonts/fs_joey-medium-webfont.svg#fs_joeymedium") format("svg");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mission-script';
    src: url('fonts/mission-script-webfont.eot');
    src: url('fonts/mission-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mission-script-webfont.woff') format('woff'),
         url('fonts/mission-script-webfont.ttf') format('truetype'),
         url('fonts/mission-script-webfont.svg#mission_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a, a:hover {
    text-decoration: none!important;
}

.clear {
    clear: both;
}

#content {
  padding-bottom: 100px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Form */

.form-center {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-center .form-center-heading {
  margin-bottom: 10px;
}
.form-center input[type="text"],
.form-center input[type="email"],
.form-center input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.fblogin-section {
  text-align: center;
}

.or-separator {
  text-align: center;
  color: #777;
  border-bottom: 1px dashed #DEDEDE;
  height: 9px;
  margin: 30px auto 40px;
  overflow: visible;
  font-size: 14px;
  text-transform: uppercase;
}





.clear {
  clear: both;
}
html,
body{
  background: #f3f3f3;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI";
}

/* top navigation */
#topnavigation{
  width: 100%;
  background: #181818;
  height: 32px;
}
.topnavigation_inner{
  width: 960px;
  margin: 0 auto 0 auto;
}
.topnavigation_menulist{
  list-style-type: none;
  padding: 5px 0 0 0;
  margin: 0 0 0 0;
  float: left;
}
.topnavigation_menulist li{
  float: left;
  margin-right: 15px;
}
.userLoginMenu li a,
.topnavigation_menulist li a{
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}
.userLoginMenu li a:hover,
.topnavigation_menulist li a:hover{
  color: #9bd1f6;
}
.userLoginMenu{
  list-style-type: none;
  padding: 5px 0 0 0;
  margin: 0 0 0 0;
  float: right;
}
.userLoginMenu li{
  float: left;
  margin-left: 15px;
}
/* end of top navigation */

/* header */
header{
  background: #fff;
  height: 48px;
  border-top: 1px solid #63bce8;
  border-bottom: 3px solid #1d73ac;
  padding: 5px 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#header.fixed{
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
}
.header_inner{
  width: 960px;
  margin: 0 auto 0 auto;
}
.header_inner .logo{
  float: left;
  display: block;
  margin-top: 10px;
  margin-right: 20px;
}
.header_inner .logo img{
  height: 30px;
}
.search{
  float: left;
  padding: 9px 0 0 0;
}
.search form{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.search label{
  background: linear-gradient(#2094d3, #0d7cb8);
  background: -webkit-linear-gradient(#2094d3, #0d7cb8);
  background: -moz-linear-gradient(#2094d3, #0d7cb8);
  background: -ms-linear-gradient(#2094d3, #0d7cb8);
  background: -o-linear-gradient(#2094d3, #0d7cb8);
  color: #fff;
  float: left;
  display: block;
  padding: 3px 10px 5px 10px;
  margin: 0 0 0 0;
  text-shadow: 1px 1px 0px #0d689b;
  line-height: normal;
  border-top: 1px solid #0d689b;
  border-bottom: 1px solid #5cbef2;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}
.search select{
  float: left;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-top: 1px solid #0d689b;
  border-left: 1px solid #0d689b;
  border-bottom: 1px solid #50b1e4;
  border-right: 1px solid #50b1e4;
  margin: 0 0 0 0;
}
/* end of header */

/* login */
#registerPage,
#loginPage{
  position: relative;
  background: url(../img/bg_lighting.png) no-repeat center top;
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#registerPage #logo,
#loginPage #logo{
  display: block;
  width: 308px;
  height: 59px;
  margin: 43px auto 0 auto;
}
#loginPage .loginWrapper{
  background: url(../img/bg_loginId.png) no-repeat center top;
  width: 536px;
  height: 390px;
  margin: 63px auto 0 auto;
  padding: 0 0 0 0;
}
#loginPage .loginWrapper .heading{
  width: auto;
  height: 78px;
  padding-top: 80px;
  padding-right: 33px;
  padding-left: 33px;
}
#loginPage .facebookLogin{
  background: url(../img/icon_facebook.png) no-repeat right top;
  display: block;
  height: 26px;
  float: right;
  display: block;
  font-size: 14px;
  font-family: "fs_joeymedium";
  color: #3a589b;
  padding: 6px 37px 0 0 ;
  margin: 10px 0 0 0;
  text-decoration: none;
  text-shadow: 1px 1px 0px #dbf0ff;
}
#loginPage .facebookLogin:hover{
  text-decoration: underline;
}
#loginPage .loginFormWrapper{
  width: 470px;
  height: 197px;
  margin: 0 auto 0 auto;
  border-top: 1px solid #fff;
  box-shadow: 0px 1px 2px #97b5ca;

  background: linear-gradient(#e8e8e8, #cdcdcd);
  background: -webkit-linear-gradient(#e8e8e8, #cdcdcd);
  background: -moz-linear-gradient(#e8e8e8, #cdcdcd);
  background: -ms-linear-gradient(#e8e8e8, #cdcdcd);
  background: -o-linear-gradient(#e8e8e8, #cdcdcd);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#loginPage .loginFormWrapper_inner{
  width: 333px;
  margin: 0 auto 0 auto;
  padding: 35px 0 0 0;
}
#loginPage .loginFormWrapper_inner input[type="email"],
#loginPage .loginFormWrapper_inner input[type="password"]{
  margin: 0 0 10px 0;
  padding: 10px;
  width: 313px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #d2d2d2;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #fff;
  box-shadow: inset 0px 2px 3px #c0c0c0;
  color: #828383;
  font-size: 14px;
  text-shadow: 1px 1px 0px #e4e4e4;
}
#loginPage .loginFormWrapper_inner .btn{
  float: right;
  background: url(../img/button_signin.png) no-repeat center top;
  width: 171px;
  height: 41px;
  border: none;
  box-shadow: none;
  text-indent: -99999px;
  overflow: hidden;
  outline: none;
}
#loginPage .loginFormWrapper_inner .forgotPassword{
  float: left;
  display: block;
  color: #333333;
  text-shadow: 1px 1px 0px #e0e0e0;
  text-decoration: none;
  margin-top: 10px;
}
#loginPage .loginFormWrapper_inner .forgotPassword:hover{
  color: #000;
}
#loginPage .loginFormWrapper_inner .btn:hover{
  background: url(../img/button_signin_hover.png) no-repeat center top;
}
#registerPage .registerFooter,
#loginPage .loginFooter{
  text-align: center;
  padding: 20px 0 20px 0;
}
#registerPage p#copyright,
#loginPage p#copyright{
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-family: "fs_joeymedium";
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
/* end login */


/* register */
#registerPage form{
  margin: 0px;
  padding: 0px;
}
.registerWrapper{
  background: linear-gradient(#d6af85, #ad7c45);
  background: -webkit-linear-gradient(#d6af85, #ad7c45);
  background: -moz-linear-gradient(#d6af85, #ad7c45);
  background: -ms-linear-gradient(#d6af85, #ad7c45);
  background: -o-linear-gradient(#d6af85, #ad7c45);
  width: 536px;
  margin: 53px auto 0 auto;
  padding: 30px 0 30px 0;
  border-top: 1px solid #e3bc92;
  border-bottom: 1px solid #9d643a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 2px 3px #7399b2;
}
.registerPaper{
  background: linear-gradient(#f4f3f3, #e8e8e8);
  background: -webkit-linear-gradient(#f4f3f3, #e8e8e8);
  background: -moz-linear-gradient(#f4f3f3, #e8e8e8);
  background: -ms-linear-gradient(#f4f3f3, #e8e8e8);
  background: -o-linear-gradient(#f4f3f3, #e8e8e8);
  width: 470px;
  min-height: 370px;
  margin: 0 auto 0 auto;
  box-shadow: 0px 2px 3px #9e6e3d;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d7d6d6;
}
#registerPage .facebookRegister{
  background: url(../img/icon_facebook.png) no-repeat right top;
  display: block;
  height: 26px;
  float: right;
  display: block;
  font-size: 14px;
  font-family: "fs_joeymedium";
  color: #3a589b;
  padding: 6px 37px 0 0 ;
  margin: 5px 0 0 0;
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
}
#registerPage .facebookRegister:hover{
  text-decoration: underline;
}
.registerPaper_inner h2{
  float: left;
  font-family: "fs_joeymedium";
  font-size: 30px;
  padding: 0 0 0 0;
  margin: 0 0 10px 0;
}
.registerPaper_inner{
  width: 362px;
  min-height: 10px;
  margin: 0 auto 0 auto;
  padding: 10px 0 20px 0;
}
.registerPaper_inner input[type="text"],
.registerPaper_inner input[type="email"],
.registerPaper_inner input[type="password"]{
  margin: 0 0 10px 0;
  padding: 10px;
  width: 362px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #e8e8e8;
  border-right: #d6d5d5;
  border-left: #d6d5d5;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #fff;
  box-shadow: inset 0px 2px 3px #d6d6d6;
  color: #828383;
  font-size: 14px;
  text-shadow: 1px 1px 0px #e4e4e4;
}
.registerPaper_inner .alreadyRegister{
  float: left;
  display: block;
  color: #333333;
  text-shadow: 1px 1px 0px #fff;
  text-decoration: none;
  margin-top: 10px;
}
.registerPaper_inner .btn{
  float: right;
  background: url(../img/button_register.png) no-repeat center top;
  width: 171px;
  height: 41px;
  border: none;
  box-shadow: none;
  text-indent: -99999px;
  overflow: hidden;
  outline: none;
}
.registerPaper_inner .btn:hover{
  background: url(../img/button_register_hover.png) no-repeat center top;
}
.pin{
  position: absolute;
  width: 41px;
  height: 36px;
  margin-top: -20px;
  margin-left: -10px;
}
/* end register */

/* landing page */

#welcome-area {
    background: url('/img/big-image.jpg');
    width: 100%;
    height: 393px;
}

    #welcome-area img{
        padding-top: 85px;
        margin: 0 auto;
        display: block;
    }


.auto-960{
    width: 960px;
    margin: 0 auto;
}

#main-btn-wrap {
    margin-left: -212px;
    left: 50%;
    position: absolute;
    margin-top: 80px;
}

#main-btn-wrap a{
    background: #1d73ac;
    padding: 12px;
    width: 370px;
    text-align: center;
    float: left;
    margin: 0px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    border-bottom: 2px solid #09446b;
    font-size: 21.5px;
    text-decoration: none;
    display: block;
}

#main-btn-wrap a span {
    font-style: italic;
    font-size: 12px;
}

#black-block {
    background: #181818;
    height: 146px;
    width: 100%;
    float: left;
    display: block;
}

#what-is-medi {
    width: 620px;
    margin-right: 20px;
    float: left;

    margin-top: 30px;
}

#what-is-medi span {
    font-family: 'mission-script' arial;
    color: #1d73ac;
    font-size: 32px;
}

#what-is-medi p {
    color: #fff;
    padding-top: 10px;
}

#black-block img {
    width: 320px;
    float: left;
}


#how-it-works {
    margin-top: 20px;
    background: #fff;
    float: left;
    width: 100%;
}

#how-it-works img {
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

#how-it-works .blurb {
    width: 300px;
    float: left;
    text-align: center;
    padding-bottom: 70px;
}

    #how-it-works .blurb img{

    }

    #how-it-works .blurb span{
        font-weight: bold;
        font-size: 20.5px;
        color: #000;
        text-transform: uppercase;
        margin: 10px 0px 20px 0px;
        display: inline-block;

    }

    #how-it-works .blurb p{
        color: #585858;
        font-size: 14px;
        text-align: left;

    }

    #how-it-works .blurb.first {
        padding-right: 15px;
    }

    #how-it-works .blurb.second {
        padding: 0px 15px;
    }

    #how-it-works .blurb.third {
        padding-left: 15px;
    }

#final-call {
    background: #f4f4f4;
    text-align: center;
    margin-top: 70px;
    width: 100%;
    float: left;

}

#final-call #call-to-action {
    float: left;
    width: 432px;
    margin-top: 36px;
}

    #final-call #call-to-action span {
        font-family: mission-script;
        font-size: 32px;
    }

    #final-call #call-to-action a {
        background: #1d73ac;
        padding: 16px 0px;
        width: 325px;
        text-align: center;
        float: left;
        margin: 12px 15px 0px 41px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        border-bottom: 2px solid #09446b;
        font-size: 18px;
        text-decoration: none;
        display: block;
    }

#final-call #ui-sample img{
    margin-top: -100px;

}


#footer-bg{
    background: #181818;
    width: 100%;
    float: left;
    padding-bottom: 40px;
}

footer {
    padding: 20px 0 40px 0;
    background: #181818;
}

footer p {
    font-weight: bold;
    font-size: 10px;
    color: #b0b0b0;
}

/* end landing page */v

/* campaign page */

.w620{
    width: 620px;
    float: left;
}

.w320{
    width: 320px;
    float: left;
    margin-left: 20px;
}

#campaign-page {
    background: #f4f4f4!important;
    display: block;
    padding: 20px 0;
    float: left;
    width: 100%;

}

#campaign-content {
    width: 578px!important;
    background: #fff;
    border: 1px solid #e6e6e6;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

}

#campaign-sidebar {
    width: 298px!important;
    background: #fff;
    border: 1px solid #e6e6e6;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}


#student-name {
    color: #424242;
    font-size: 24px;
}

    #student-name span {
        color: #1d73ac;
    }


.sub-details {
    font-size: 10px;
    text-transform: uppercase;
    color: #424242;
    font-weight: bold;
}

    #sub1 {
        float: left;
        margin-top: -12px;
    }

    .sub-details img{
        padding-right: 5px;
    }

.video{
    width: 564px;
    height: 272px;
    margin-top: 20px;
    float: left;
}

.badges {
    float: left;
    margin-top: 20px;
}

.content-section {
    float: left;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 2px;
    border-bottom: 1px solid #b0b0b0;
}

#my-story span{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

#more-info span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
}

#more-info span b {
    padding: 2px 4px;
    background: #1d73ac;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    margin-left: 3px;
}

#my-story-section {
    float: left;
    margin-top: 20px;
}

#my-story-section p{
    color: #474747;
    font-size: 14px;
}


#target {
    background: #f4f4f4;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    padding: 20px 0 3px 0;
}

#top-text {
    color: #a6a6a6;
    font-size: 12px;
}

#below-text {
    font-weight: bold;
    color: #a6a6a6;
    font-size: 12px;
}

    #below-text b {
        color: #000;
    }

#target-goal {
    font-size: 34px;
    font-weight: bold;
    color: #1d73ac;
}

.target-text {
    color: #a6a6a6;
    font-size: 12px;
}

    .target-text b {
        color: #000;
    }

#goal-meter {
    float: left;
    margin-top: -5px;
}

/* Progress Bar */

#progress-bar-container {
            margin-top: 5px;
            display: block;
            float:left;
        }
        .meter {
            width: 298px;
            height: 5px;  /* Can be anything */
            position: relative;
            background: #d2d1d1;
            -webkit-border-bottom-right-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
            -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
            box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
        }
        .meter > span {
            display: block;
            height: 100%;
            background: #1d73ac;
            position: relative;
            overflow: hidden;
            -webkit-border-bottom-right-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .meter > span:after, .animate > span > span {
            content: "";
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            z-index: 1;
            -webkit-background-size: 50px 50px;
            -moz-background-size: 50px 50px;
            -webkit-animation: move 2s linear infinite;
               -webkit-border-top-right-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
                   -moz-border-radius-topright: 8px;
                -moz-border-radius-bottomright: 8px;
                       border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                -webkit-border-top-left-radius: 20px;
             -webkit-border-bottom-left-radius: 20px;
                    -moz-border-radius-topleft: 20px;
                 -moz-border-radius-bottomleft: 20px;
                        border-top-left-radius: 20px;
                     border-bottom-left-radius: 20px;
            overflow: hidden;
        }

        .animate > span:after {
            display: none;
        }

        @-webkit-keyframes move {
            0% {
               background-position: 0 0;
            }
            100% {
               background-position: 50px 50px;
            }
        }

        .orange > span {
            background-color: #f1a165;
            background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
            background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
        }

        .red > span {
            background-color: #f0a3a3;
            background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
            background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
        }

        .nostripes > span > span, .nostripes > span:after {
            -webkit-animation: none;
            background-image: none;
        }

#fund-button a{
    background: #1d73ac;
    padding: 16px 0px;
    width: 298px;
    text-align: center;
    float: left;
    margin: 20px 0px 0px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    border-bottom: 2px solid #09446b;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

#fund-button a:hover, #main-btn-wrap a:hover, #final-call #call-to-action a:hover {
    background: #115887;
}

#my-supporters {
    margin-top: 20px;
    float: left;
}

#rewards {
    margin-top: 20px;
    float: left;
}

#rewards p {
    background: #f4f4f4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    color: #434343;
    font-size: 12px;
}

#rewards p span {
    margin-top: 10px;
    font-weight: bold;
    padding-bottom: 10px;
}

